body {
  font-family: Arial, sans-serif;
  background: #fff9f0;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff6f61;
  color: Pink;
  padding: 1rem;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  color: Pinke;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: Pink;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
